.tabs-header,
.tabs-scroller-left,
.tabs-scroller-right,
.tabs-tool,
.tabs,
.tabs-panels,
.tabs li a.tabs-inner,
.tabs li.tabs-selected a.tabs-inner,
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner,
.tabs-header-left .tabs li.tabs-selected a.tabs-inner,
.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  border-color: #cccccc;
}

.tabs li.tabs-selected a.tabs-inner {
    color: #48728a;
    background-image: url('../Images/tab_h.png');
    min-width: 100px;
}

.tabs li a.tabs-inner {
    color: #454545;
    background-image: url('../Images/tab.png');
    min-width: 82px;
}

.tabs li a.tabs-inner {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.tabs li a.tabs-close,
.tabs-p-tool {
  position: absolute;
  font-size: 1px;
  display: block;
  height: 12px;
  padding: 0;
  top: 25%;
  margin-top: -6px;
  overflow: hidden;
}

.tabs li {
  float: left;
  display: inline-block;
  margin: 0 2px -1px 0;
  padding: 0;
  position: relative;
  border: 0;
}

.tabs li a.tabs-close {
  width: 12px;
  right: 4px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.tabs-header,
.tabs-tool {
  background-color: #FFFFFF;
}

.window,
.window .window-body {
  border-color: #cccccc;
}

.window,
.window-shadow {
  position: absolute;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

.window {
  overflow: hidden;
  padding: 0px;
  border-width: 0px;
  border-style: solid;
}
.window .window-header {
  background: transparent;
  background: #2f9ce1;
  padding: 12px 0px 12px 0px;
}

/*.window .window-header .panel-icon,
.window .window-header .panel-tool {
  top: 30%;
  margin-top: -8px;
  margin-right:2px;
}*/

.panel-title {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  height: 16px;
  line-height: 16px;
  padding-left: 5px
}

.dialog-button .l-btn {
  margin-left: 12px;
  min-width:70px;
}

.l-btn {
  color: #ffffff;
  background: #3d9ccc;
  background-repeat: repeat-x;
  border: 1px solid #3d9ccc;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}

.l-btn-normal { width:70px;margin-left:10px;}

.l-btn:hover {
  background: #3d9fff;
  color: #ffffff;
  border: 1px solid #3d9ccc;
  filter: none;
}

.l-btn-plain {border:none; background:none;}
.l-btn-plain:hover {background:none;}

.datagrid-header {
  overflow: hidden;
  cursor: default;
  border-width: 0 0 1px 0;
  border-style: solid;
}
.datagrid-header-inner {
  float: left;
  width: 10000px;
}
.datagrid-header-row,
.datagrid-row {
  height: 25px;
}
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
  border-width: 0 1px 1px 0;
  border-style: solid;
  margin: 0;
  padding: 0;
}
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  margin: 0;
  padding: 0 4px;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
}
.datagrid-header .datagrid-cell {
  height: auto;
  height:35px;
}
.datagrid-header .datagrid-cell span {
  font-size: 12px;
}
.datagrid-cell-group {
  text-align: center;
}
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
  width: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.textbox {
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  height:25px !important;
  margin: 0;
  padding: 0;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
}
.textbox .textbox-text {
  font-size: 12px;
  border: 0;
  margin: 0;
  padding: 4px;
  white-space: normal;
  vertical-align: top;
  outline-style: none;
  resize: none;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
}

.tooltip {
  position: absolute;
  display: none;
  z-index: 9900000;
  outline: none;
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-radius: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
}

.panel-header,
.panel-body {
  border-width: 0px;
  border-style: solid;
}

.combo-p .panel-body {
  border:1px solid #ccc;
}

.validatebox-invalid {
    background-color:transparent;
    border-color:#f49a5e;
    padding:3px 2px 2px 2px;
}
.textbox-invalid {
    background-color:transparent;
    border-color:#f49a5e;
    padding:3px 2px 2px 2px;
}

span[class*='textbox-invalid'] {padding:0;}

.datagrid-group {
background-color:#e9f3f9;
}
.datagrid-group table {
    width:100%;
}
/*.datagrid-group td {
    line-height:200%;
}*/
.window-mask{filter: alpha(opacity=60) !important;
  opacity: 0.60 !important;   background: #666;}
.loadingmask-mask-boopacity {
    filter: initial !important;
    opacity: initial !important;
    background-color: transparent !important;
}
.window .window-header{ background-color:#3d9ccc !important; }
.window-header .panel-tool{ margin-top:-8px !important; margin-right:3px; }
.panel-noborder { border:none !important;}
.panel-noborder .panel-body{ border:none !important;  padding:0 !important; width:100% !important;}

.datagrid-td-rownumber{ background:none !important; filter:none !important; }